.App {
  margin-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  /* background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54581.jpg?w=740&t=st=1688597842~exp=1688598442~hmac=b843ad34a4ccb837797e26cc8cd152263ed83ac5f9107a91c64311354cb90312");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

#exampleInputName, #exampleInputEmail1, #exampleInputPassword1 {
  width: 30%;
}

#gap {
  margin-right: 30px;
  
}

#gap1 {
  margin-left: 700px;
}
  
#star {
  border-bottom: 1px darkblue solid;
}

.weight {
  font-weight: 350;
}
 
#que {
  color: rgb(229, 37, 20);
}
.navbarhome{
  background-color: black;
  
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.logo{
  display: flex;
  flex-direction: column;
  gap: -1px;
}
.login-signup{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;

}
.login{
  background-color: rgba(239, 225, 209, 0.365);
  width: 50%;
  margin: 10px;
  border-radius: 5px;
}
.lginform, h4{
  margin: 15px;
}
.signup{
  background-color: rgba(249, 100, 100, 0.927);
  width: 50%;
  width: 50%;
  margin: 10px;
  border-radius: 5px;
}
.signupform, h4{
  margin: 15px;
 
}
.submit{
  background-color: red;
  border: none;
}
.homebtn{
  background-color: rgb(234, 149, 38);
  border: none;
}

#star {
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-align: center;
  background-color: rgba(245, 164, 98, 0.258);
}
.box {
  display: flex;
  margin: 10px 10px 10px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.seemore{
  text-decoration: none;

}
.userName{
  font-size: large;
  font-weight: bold;
  background-color: rgb(234, 149, 38);
  width: 25%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
   
}
.logonav{
display: flex;
flex-direction: column-reverse;

}
#date{
  font-size: 10px;
}
.ques{
  margin-left: -3px;
}
.contaner{
  padding: 10px;
  background-color:  rgba(245, 164, 98, 0.258);;
}
